*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 1rem 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
    color: #0E2431;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.bd-grid{
    max-width: 1024px;
    grid-template-columns: 100%;
    grid-column-gap: 6rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.nav{
    height: 3rem;
    display: flex;
    align-items: center;
    font-weight: 400;
  }
  .nav-item{
      display: none;
      color: #0E2431;
  }
  .nav_logo{
      color: #0E2431;
      padding: 1rem;
  }
  .home{
    height:calc(100vh - 3rem);
    row-gap: 1rem;
  }
  .home__data{
    align-self: center;
    position: relative; top: 10%;
  }
  .home__title{
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  .home__title-color{
    color:#4070F4;
  }
  .home__social{
    display: flex;
    flex-direction: column;
    position: relative; top: 18%;
  }
  .home__social-icon{
    width: max-content;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    color: #0E2431;
  }
  .home__social-icon:hover{
    color:#4070F4;
  }
  .home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
  }
  .button{
  display: inline-block;
  background-color:#4070F4;
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: 100;
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.button1{
    display: inline-block;
    background-color:#4070F4;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: 100;
    border-radius: .5rem;
  }
  .button1:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
.img-1{
    max-width: 100%;
    height: auto;
    /* display: block; */
    border-radius: 50%;
  }
  .home__img{
    position: relative; bottom: 5%;
  }
  .section-title{
    position: relative;
    font-size:1.25rem;;
    color: #4070F4;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: #4070F4;
  }
  .about__container{
    row-gap: 2rem;
    text-align: center;
  }
  .about__subtitle{
    margin-bottom: 1rem;
  }
  .about__img{
    justify-self: center;
  }
  .about__img img{
    width: 200px;
    border-radius: .5rem;
  }
  .skills__container{
    row-gap: 2rem;
    text-align: center;
  }
  .skills__subtitle{
    margin-bottom: 1rem;
  }
  .skills__text{
    margin-bottom: 2rem;
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight:  600;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  .skills__icon{
    font-size: 2rem;
    margin-right:1rem;
    color: #4070F4;
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4070F4;
    height: .25rem;
    border-radius: .5rem;
    z-index: 100;
  }
  .skills__html{
    width: 95%;
  }
  .skills__css{
    width: 85%;
  }
  .skills__js{
    width: 65%;
  }
  .skills__ux{
    width: 85%;
  }
  .skills__img{
    border-radius: .5rem;
  }
  .contact__input{
    width: 90%;
    font-size: 0.938rem;
    font-weight:  600;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid #0E2431;
    outline: none;
    margin-bottom: 2rem;
  }
  .contact__button{
    position: absolute; left: 32%;
    display: block;
    border: none;
    outline: none;
    font-size: 0.938rem;
    cursor: pointer;
    margin-left: auto;
  }
  .footer{
    background-color: #0E2431;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footer__social{
    margin-bottom: 2rem;
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem
  }
  .nav__menu.responsive a {
    float: left;
    display: block;
    /* text-align: right; */
  }
  .nav__menu.responsive {position: absolute;}
  .nav__menu.responsive {float: none;}
  .nav__menu.responsive {position: relative;}
  .nav__menu.responsive{
    display: block;
    width: 100%;
    text-align: right;
  }
  @media screen and (min-width: 1024px){
    .nav_toggle{
        display: none;
    }
    .bd-grid{
        grid-column-gap: 15rem;
    }
    .nav-item{
        display: inline;
        padding: 2rem;
        color: #0E2431;
    }
    .nav_logo{
        color: #0E2431;
        padding: 3rem;
    }
    .nav__link:hover{
        position: relative;
      }
      .nav__link:hover::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color:  #4070F4;
      }
      .home__social{
          display: inline;
          padding-left: 15%;
      }
      .home__data{
          padding-left: 15%;
          font-size:  2rem;
      }
      .home__title{
          font-size: 4rem;
      }
      .img-2{
        width: 100%;
        height: auto;
        /* display: block; */
        border-radius: 50%;
        padding-left: 7rem;
      }
      .home__img{
        position: absolute; top: 10%; 
      }
      .about__container{
          display: flex;
      }
      .about__container{
        row-gap: 2rem;
        /* text-align: center; */
      }
      .about__subtitle{
        margin-bottom: 1rem;
        font-size: 30px;
      }
      .section-title{
        position: relative;
        font-size:1.75rem;;
        color: #4070F4;
        margin-top: 1rem;
        margin-bottom: 4rem;
        /* text-align: center; */
      }
      .section-title::after{
        position: absolute;
        content: "";
        width: 84px;
        height: 0.28rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: #4070F4;
      }
      .about__text{
          font-size: 20px;
      }
      .skills__data{
        width: 50%;
        font-weight:  600;
        padding: .5rem 1rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
        box-shadow: 0 4px 25px rgba(14,36,49,.15);
      }
      .skills__container{
        row-gap: 2rem;
        text-align: center;
        padding-left: 7rem;
      }
      .contact__input{
        width: 50%;
        font-size: 0.938rem;
        font-weight:  600;
        padding: 1rem;
        border-radius: .5rem;
        border: 1.5px solid #0E2431;
        outline: none;
        margin-bottom: 2rem;
      }
      .contact__button{
        position: relative; left: 30%; bottom: 14%;
        display: block;
        border: none;
        outline: none;
        font-size: 0.938rem;
        cursor: pointer;
        margin-left: auto;
      }
      .contact__container{
        text-align: right;
      }
      .button1{
          position: absolute; bottom: -80%; left: 60%;
      }
      .info{
          display: flex;
          padding: 10%;
          gap: 5%;
      }
  }